/* App.css */
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header, footer, .home {
  margin: 0;
  padding: 0;
}

header {
  font-family: 'Times New Roman', Times, serif;
  color: #fff;
  padding: 10px;
  display: flex;                      /* Usamos flexbox para organizar los elementos */
  align-items: center;                /* Alineamos verticalmente el contenido */
  background-color: #ffffff;          /* Color de fondo del header */
  justify-content: space-between;     /* Espacia los elementos: logo a la izquierda */
}

header h1 {
  color: #000000;
  margin: 0;
  padding: 0;
  position: absolute;                 /* Posicionamos el título en el centro */
  left: 50%;
  transform: translateX(-50%);        /* Lo centramos con translateX */
}

footer {
  font-family: 'Times New Roman', Times, serif;
  color: #000000;
  padding: 10px;
  text-align: center;
  border: 2px solid #42db34;
}

.lazo {
  width: 100px;  /* Tamaño del logo */
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-right: 15px;  /* Espacio entre la imagen y el título */
}

.cuestionario {
  margin-bottom: 15px;
}

textarea {
  width: 100%;
  height: 80px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  resize: vertical;
}

textarea:focus {
  border-color: #3498db;
  outline: none;
}

.mapa {
  padding:20px;
}

.formula-donacion {
  text-align: center;
}

.datos {
  text-align: center;

}